*{
	font-family: 'Mukta',"Segoe UI",sans-serif;
    # /*transition: all 0.5s ease;*/

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

body{
	margin: 0px;
	padding-top: 0px;
  margin-left: 100px;
	margin-right: 100px;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
/*big chunks*/
#topchunk{
	margin-bottom: 80px;
	# border: 1px solid green;
}


#workchunk{
	/*border: 1px solid green;*/

	margin-top: 10vh;
	margin-bottom: 20vh;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	# opacity: 0;

    # animation: 0.5s ease-out fadein;
    # animation-delay: 3s;
	animation-fill-mode: forwards;
}
#work{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.title_row.row{
	padding-bottom: 50px;
	margin-bottom: 0px;

}

.title_row{
	padding-top: 50px;
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 0px;
	margin-bottom: 0px;
	/*margin-left: 100px;*/
	/*margin-right: 100px;*/
}
.row{
	height: auto;
	margin-left: auto;
	margin-right: 
	/*border: 1px solid black;*/
	max-width: 1170px;
	padding-top: 80px;
	padding-bottom: 80px;

}

.row_img{
	position: absolute;
	left: 0px;	

	height: 400px;
	background-color: tomato;
	width: 100%;
}

.after_img{
	margin-top:400px;
	display: flex;
	flex-direction: column;
	height: 200px;
	padding: 0px;
}

.full_row_img{
	/*height: 300px;*/
	/*max-height: 500px;*/
	min-height: 200px;
	height: 400px;
	width: 100%;
	box-shadow:13px 15px 23px #E0E0E0;
	margin: 50px 0px;

}

/*images*/
#trump_complete{
	background: url("pics/trump_complete.png") center no-repeat;
	background-size: 100% auto;
}

#trump_ingame{
	background: url("pics/trump_ingame.png") center no-repeat;
	background-size: 100% auto;
}
/*small chunks*/
.after_img ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;

	padding: 20px 0px;


}

.after_img li{
	/*border: 1px solid green;*/
	width: 150px;

}
.center_blurb{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 200px;
	padding-right: 200px;
	flex-direction: column;
}


/*fonts*/
#toplinks #active_link{
	color: black;
}
h1{
	margin-bottom: 0px;
}
h2{
	opacity: 1;
	font-weight: 700;
	font-size: 36px;
	# animation: 1s ease-out fadein;
    
}

li p{
	font-weight: 200;
}

.grid_label{
	margin-bottom: 0px; 
	padding-bottom: 0px;

	/*border: 1px solid green;*/
}
.quote{
	font-size: 26px;
	text-align: center;
	font-weight: 200;
}

#topbody{
	font-size: 24px;
	font-weight: 300;

	line-height: 30px;
	width:60%;

	/*opacity: 0;*/

    /*animation: 0.5s ease-out fadein;*/
    /*animation-delay: 1s;*/
	animation-fill-mode: forwards;
}

#topsmbody{
	font-weight: 300;

	font-size: 18px;
	line-height: 25px;

	# opacity: 0;

    # animation: 0.5s ease-out fadein;
    # animation-delay: 3s;
	animation-fill-mode: forwards;
}
.overlay_sub{
	color: white;
	font-size:16px;
	font-weight: 300;
	margin: 0px;
}

.topgrey{
	color: grey;
}

.subtitle{
	font-weight: 300;

	font-size: 18px;
	line-height: 25px;
}


#navtitle{
	/*flex-grow: 1;*/
	font-size: 18px;
	text-decoration: none;
	color: black;
}
#toplinks{
	font-size: 16px;
	margin: 0px;
	padding: 0px;

}
#toplinks a{
	margin-left: 40px;
	text-decoration: none;
	color: lightgrey;
    transition: color 0.2s ease-in-out;


}
#toplinks a:hover{
	color: grey;

}
/*textboxes*/
#toptext{
	margin-top: 150px;
	width: 80%;
}

/*navbar*/

#navlist{
	display: flex;
	flex-direction: row;
	padding: 0px;
	/*border-bottom: 1px solid black;*/
	/*width: 33vw;*/
}

#navlist li{
	transition: 0.2s ease-in-out;
	padding-left: 25px;
	padding: 10px 25px 10px;
	padding-right: 25px;
	/*padding-right: 25px;*/
	list-style: none;
	border-radius: 5px;
	margin-right: 10px;

	color: grey;

	display: inline;

}

#navlist li:hover{
	cursor: pointer;
	background-color: rgba(231, 234, 240, 0.5);
	color: black;
}



#navlist .navsel.active{
	background-color: #E7EAF0;
	color: black;

}

.center_text{
	/*width: 800px;*/
	font-weight: 200;
	font-size: 18px;
	text-align: left;
	/*border: 1px solid green;*/
}
.left_text{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	width:100%;
}
/*top navbar*/
#topnav{
	position: fixed;
	top: -18px;
	left: 0px;
	z-index: 100;
	padding:0px;
	flex-grow: 1;
	width:100%;
	padding-top: 20px;
	padding-bottom:20px;


	background-color: white;	
	/*border: 1px solid green;*/

}
.margin{
	/*margin-left: 100px;*/
	/*margin-right: 100px;*/
	margin-left: auto;
	margin-right: auto;
	max-width: 1170px;
	/*border: 1px solid red;*/

	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}


/*workchunks*/
.workitem.visible{
	display: block;
	height: 300px;
	width: 35%;
	margin-right: 40px;

}
.workitem.left{
}
.workitem{

	margin-right: 20px;

	width: 40%;
	height: 350px;
	flex-grow:1;	
	
	margin-bottom: 20px;
	border-radius: 5px;

    animation: none;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
    display: none;
    position: relative;
}

.workitem:hover {
	

     -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
	/*background-color: blue;*/
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(44, 124, 244, 0.9);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workitem:hover .overlay {
  opacity: 1;
}
.ml{
	background-color: tomato;
	
}

.prod{
	background-color: yellowgreen;
}

.show{
	display: block;
}

.long{
	width: 45%;
}

/*workchunk details*/
.tag{
	border-radius: 50px;
	background-color: green;
	width: auto;
	padding: 10px 20px;
	margin: 15px;
	display: inline-block;
	position: absolute;
	bottom:0px;
	left: 0px;
	font-weight: 200;


}

.title{
	color: white;
    font-weight: 600;
    font-size: 20px;
    margin: 0;

}
.overlay_text{
	padding: 10px 15px;
	margin: auto;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}
.workitem:hover ~ .title{
	
}
@media only screen and (max-width: 1200px) {
	.workitem{
		width: 40%;
	}
	
	#topbody{
		width: 100%;
	}

	body{
		margin-left: 50px;
		margin-right:50px;
	}
.center_blurb{
		padding-left: 100px;
	padding-right: 100px;
	}

}

a{
	color: blue;
	text-decoration: none;
}
@media only screen and (max-width: 902px) {
	.workitem{
		width: 80%;
	}
	#topbody{
		width: 100%;
	}
	#toptext{
		width: 100%;
	}
	#navlist{
		justify-content: space-between;
	}
	#navlist li{
		width: 33vw;
		text-align: center;
	}
	.workitem.visible{
		width: 80%;
		margin-right: 0px;
	}

	.row_img#face2face{
		background-size: 50%;
	}
	
	.center_blurb.row{
		padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px
	}
}

@media only screen and (max-width: 902px) {
	.center_blurb{
		padding-left: 20px;
	padding-right: 20px;
	}
}



#dessa{
	/*background: url("pics/1xpreview_dessa.png") bottom center no-repeat;*/
	background: url("pics/0_5preview_dessa.png") bottom center no-repeat;

	background-size: auto 100%;
	background-color: #F8FAFF;
}

#dessa .title,#dessa .overlay_sub{
	color: #286bc9;

}

#dessa .tag{
	background-color: #286bc9;

	color: white;
	font-weight: 100;
}

#dessa .overlay{
	/*background-color: rgb(108, 214, 207, 0.8);*/
	background-color: rgba(248, 250, 255, 0.9);
}
#dessa.workitem:hover {
	}

#face2face{
	background: url("pics/facetoface graphicbright.png") center center no-repeat;
	background-size:50%;
	background-color:  rgba(0, 186, 249);

}

#face2face .tag{
	background-color: #02a5db;
	color: white;
}

#face2face .overlay{
	/*background-color: rgb(108, 214, 207, 0.8);*/
	background-color: rgba(0, 186, 249, 0.9);
}

#face2face.row_img{
	background-size:25%;
}

#faketrump{
	background: url("pics/trumptweets.jpg") center center no-repeat;
	background-size:50%;
	background-color: #3343CC;

}

#faketrump .tag{
	background-color: #1d2fb7;
	color: white;
}

#faketrump .overlay{
	/*background-color: rgb(108, 214, 207, 0.8);*/
	background-color: rgb(50, 65, 198, 0.9);
}

#faketrump.row_img{
	background-size:35%;
}
#foodora{
	background: url("pics/foodora_05.jpg") center center no-repeat;
	background-size:50%;
	background-color: #d60765;
}

#foodora .tag{
	/*background-color: #D70F64;*/
	background-color: #e04a86;
	color: white;
}

#foodora .overlay{
	/*background-color: rgb(108, 214, 207, 0.8);*/
	background-color: rgb(186, 26, 92, 0.9);
}