*{
	font-family: 'Mukta','Roboto',"Hind","Segoe UI",sans-serif;
    transition: all 0.5s ease;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

body{
	margin: 0px;
	margin-left: 100px;
	margin-right:100px;
}
/*bigchunks*/
#topchunk{
	margin-bottom: 15vh;
	

}


#workchunk{
	margin-top: 10vh;
	margin-bottom: 20vh;
	opacity: 0;

    animation: 0.5s ease-out fadein;
    /*animation-delay: 3s;*/
	animation-fill-mode: forwards;
}
#work{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
/*fonts*/
h2{
	opacity: 1;
	font-weight: 700;
	font-size: 36px;
	animation: 1s ease-out fadein;
    
}

#topbody{
	font-size: 24px;
	font-weight: 300;

	line-height: 30px;
	width:60%;

	opacity: 0;

    animation: 0.5s ease-out fadein;
    /*animation-delay: 1s;*/
	animation-fill-mode: forwards;
}

#topsmbody{
	font-weight: 300;

	font-size: 18px;
	line-height: 25px;

	opacity: 0;

    animation: 0.5s ease-out fadein;
    /*animation-delay: 3s;*/
	animation-fill-mode: forwards;
}
.overlay_sub{
	color: white;
	font-size:16px;
	font-weight: 200;
	margin: 0px;
}

.topgrey{
	color: grey;
}
/*textboxes*/
#toptext{
	margin-top: 25vh;
	width: 80%;
}

/*navbar*/

#navlist{
	display: flex;
	flex-direction: row;
	padding: 0px;
	/*border-bottom: 1px solid black;*/
	/*width: 33vw;*/
}

#navlist li{
	padding-left: 25px;
	padding: 10px 25px 10px;
	padding-right: 25px;
	/*padding-right: 25px;*/
	list-style: none;
	border-radius: 5px;
	margin-right: 10px;


	display: inline;

}

#navlist li:hover{
	cursor: pointer;
	background-color: #E7EAF0;
}



#navlist .navsel.active{
	background-color: #E7EAF0;

}


/*workchunks*/

.workitem{
	
	width: 40%;
	height: 350px;
	flex-grow:1;	
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 5px;

    animation: none;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
    display: none;
    position: relative;
}

.workitem:hover {
	

     -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
	/*background-color: blue;*/
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(44, 124, 244, 0.9);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workitem:hover .overlay {
  opacity: 1;
}
.ml{
	background-color: tomato;
	
}

.prod{
	background-color: yellowgreen;
}

.show{
	display: block;
}

.long{
	width: 45%;
}

/*workchunk details*/
.tag{
	border-radius: 50px;
	background-color: green;
	width: auto;
	padding: 10px 20px;
	margin: 15px;
	display: inline-block;
	position: absolute;
	bottom:0px;
	left: 0px;
	font-weight: 200;


}

.title{
	color: white;
    font-weight: 600;
    font-size: 20px;
    margin: 0;

}
.overlay_text{
	padding: 10px 15px;
	margin: auto;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}
.workitem:hover ~ .title{
	
}
@media only screen and (max-width: 1200px) {
	.workitem{
		width: 40%;
	}
	
	#topbody{
		width: 100%;
	}

	body{
		margin-left: 50px;
	margin-right:50px;
	}


}

@media only screen and (max-width: 902px) {
	.workitem{
		width: 80%;
	}
	#topbody{
		width: 100%;
	}
	#toptext{
		width: 100%;
	}
	#navlist{
		justify-content: space-between;
	}
	#navlist li{
		width: 33vw;
		text-align: center;
	}

}


#dessa{
	background: url("pics/1xpreview_dessa.png") bottom center no-repeat;
	background-size: 100% auto;
	background-color: #F8FAFF;
}


#dessa .tag{
	background-color: #286bc9;
	color: black;
	font-weight: 100;
}

#dessa .overlay{
	/*background-color: rgb(108, 214, 207, 0.8);*/
	background-color: rgba(248, 250, 255, 0.9);
}
#dessa.workitem:hover {
	}

#face2face{
	background: url("pics/facetoface graphicbright.png") center center no-repeat;
	background-size:50%;
	background-color:  rgba(0, 186, 249);

}

#face2face .tag{
	background-color: #02a5db;
	color: white;
}

#face2face .overlay{
	/*background-color: rgb(108, 214, 207, 0.8);*/
	background-color: rgba(0, 186, 249, 0.9);
}

#faketrump{
	background: url("pics/trumptweets.jpg") center center no-repeat;
	background-size:50%;
	background-color: #3343CC;

}

#faketrump .tag{
	background-color: #1d2fb7;
	color: white;
}

#faketrump .overlay{
	/*background-color: rgb(108, 214, 207, 0.8);*/
	background-color: rgb(50, 65, 198, 0.9);
}