*{
	font-family: 'Mukta',"Segoe UI",sans-serif;
    transition: all 0.5s ease;
    -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: 300;
	/* border:1px solid green; */
}

body{
	margin: auto;
	padding:auto;
	max-width: none;
}
:root {
	--darkgrey: #4F5659;
	--lightgrey:  #c4cdd1;
	--block_background: #ececec48;
	--darkdarkgrey: #2B2828;
	--lightbeige: #EDE5E4;
  }


.block{
	width:100%;
	/* padding: 100px 0px; */
	padding-top: 60px;
	padding-bottom: 60px;
	display:flex;
	flex-direction: column;
	/* border:1px solid red; */

}

.background_colour{
	background-color: var(--block_background);
}

.lightblue{
    background-color: var(--block_background);
}

.darkgray{
	background-color: var(--darkdarkgrey);
}



.row_narrow{
	max-width: 560px;
	padding:0px;
	width: 100%;

	margin:auto;
	margin-bottom: 40px;
	/* border:1px solid green; */
}

.row{
	padding:0px;
	max-width: 900px;
	width: 100%;

	margin:auto;
	margin-bottom: 40px;

	display:flex;
	justify-content: space-between;
	
	/* background-color: blue; */
	/* border: 1px solid black; */
}

.row_left{
	padding:0px;
	max-width: 900px;
	width: 100%;
	margin:auto;
	margin-bottom: 40px;
	

	display:flex;
	justify-content: flex-start;
	/* background-color: tomato; */


}
.col_half{
	width: 47%;
	display:flex;
	flex-direction: column;
	justify-content: start;
	/* background-color: tomato; */
}

.col_third{
	width:30%;
}

/* ~~~~~~~~~~OTHER WORK ~~~~~~~~~~~ */

#workchunk{
	margin-left: auto;
    margin-right: auto;
}

/* ~~~~~~~~~~HEADER~~~~~~~~~ */

.header_img{
	/* height:100vh; */
	width:100%;
}
.work_header{
	position:relative;
	text-align: center;
	/* color:var(--darkgrey) */
	/* color: blue; */
}

.work_title{
	font-weight: 700;
	font-size:36px;
	text-align: start;
	line-height: 45px;
	color:#333333;
}
.work_title_slim{
	font-weight:400;
}
.work_title_box{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	top:40%;
	left:150px;
	width:40%;
	color:var(dark)
}

.date{
	text-align: left;
}
ul.work_details{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
	list-style: none;
	/* background-color: tomato; */
	margin: 0px;
	padding:0px;
}

.work_details > ul{
    width: 30%;
    padding:0px;
	margin:0px;
	font-weight: 300;
	/* background-color: teal; */
}

.grid_label{
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-weight: 700;
	font-size:14px;
}

.work_details > ul > p {
	font-size:14px;
	font-family: Nunito;
}

/* ~~~~~~~~ CASE STUDY SPECIFIC ~~~~~~~~~~~~ */

.reach img{
	display: flex;
	width: 95%;
	/* border: 1px solid black; */
	border-radius: 5px;
	box-shadow: 0px 20px 30px #E9EBEE;

}

/* ~~~~~~~~~~~~~in_text elements~~~~~~~~~~~~~~~~~~~~ */

/* number box */
.number_box{
	margin-left:0px;
	padding:0px;
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	background-color: lightcoral;
}

.big_number{
	margin:0px;
	font-weight: 700;
	font-size:64px;
}

/* inline quote box */

.quote_box{
	border-left:4px solid seagreen;
	padding: 5px 15px;
	margin: 15px 0px;
	/* color: lightseagreen; */
	font-weight: 500;
}


/* ~~~~~~~~~~~~~fonts~~~~~~~~~~~~~~~~~~~~ */
b{
	font-weight: 800;
}
p{
	font-size:16px;
}

h2{
	font-family: 'Work Sans';
	font-weight: 600;
	font-size:  40px;
	margin-bottom: 20px;
	/* border:1px solid green; */
	margin-top:0px;
	color: var(--darkdarkgrey);




}

h3{
	margin-top:5px;
	font-family: 'Work Sans';
	font-weight: 600;
	font-size:  24px;
	margin-bottom: 10px;
	color: var(--darkdarkgrey);

}
.tomato{
	color: tomato;
}
.small_header{
	font-size:18px;
	color:tomato;
	font-weight: 400;
	margin-bottom: 0px;
	padding-bottom: 0px;
	display: flex;
	align-items: center;
	width:20%;
}
.small_header::after {
	content: '';
	flex: 1;
	margin-left: 10px;
	height: 1px;
	background-color: tomato;
  }
.big_text{
	margin-top:10px;
	font-size:24px;
	margin-bottom: 0px;
}
.subtitle{
	margin-bottom: 0px;
	margin-top:10px;
	font-weight: 300;
	color: #686868;
	/* border:1px solid green; */

}

.center{
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.vcenter{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.quote{
	width: 100%;
	text-align: center;
	font-size: 18px;
	margin-bottom: 0px;
}

.white_text {
	color: white;
}


.darkgray > .row > .col_half > p{
	color: var(--lightbeige);
}
/* ~~~~~~~~~~~~~images~~~~~~~~~~~~~~~~~~~~ */

.img_container{
	margin:30px 0px;
	width:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.rounded{
	border-radius: 25px;
}

.single_mob{
	width:75;
}

/* ~~~~~~~~~~~~~~~buttons~~~~~~~~~~~~~~~~~ */
.button{
	border-radius:50px;
	padding:10px 20px 10px 15px;
	border:1px solid tomato;
	font-size:16px;
	color:white;
	background-color: tomato;
	font-weight: 400;
}
.hvr-icon-forward {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
  }
  .hvr-icon-forward .hvr-icon {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
	-webkit-transform: translateX(4px);
	transform: translateX(4px);
  }
  /* ~~~~~~~~~~~~~Pop up ~~~~~~~~~~~~ */

.popup{
	padding: 0px 20px ;
	width: 350px;
	border-radius: 5px;
	border:2px solid grey;
	display: flex;
	justify-content: flex-start;
	font-weight: 600 !important;
}
.content{

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-weight: 600 !important;
	max-width:300px;

	/* align-content: flex-start; */
	
}
.content p{
	font-weight: 400 !important;

	font-size:14px;
}
.content img{
	padding-right:20px;
}

.info{
	background-color: #E2F1FF;
	border:2px solid #2F80ED;
	color:  #2F80ED;
	font-weight: 800;


/* ~~~~~~~~~~~~~responsiveness~~~~~~~~~~~~~~~~~~~~ */
/* @media only screen and (max-width: 1024px) {
	.row, .row_left, .row_narrow{
		max-width: 85vw;


} */
@media only screen and (max-width: 768px) {
	.row, .row_left, .row_narrow{
		max-width: 85vw;
		flex-direction: column;
		margin-bottom: 0px;
	}
	.col_half{
		width: 100%;
		margin-bottom: 30px;
	}

	.work_details > ul > p {
		font-size:16px;
		margin-bottom: 5px;
	}
	.grid_label{
		font-size:16px;
		margin-bottom: 5px;

	}

}

@media only screen and (max-width:560px) {
	.header_img{
		height:300px;
		width:auto;
		left:-500px;
	}
	.work_header{
		/* position:abs */

	}
	.work_title_box{
		left:10vw;
		width: 60%;
	}
	.work_title{
		font-size:24px;
		line-height: 30px;
	}
}